.title{
    color: yellow;
  }

body{
    margin: 0;
    padding: 25px;
    background-color: white;
    color: white;
  
}
.nav-link{
    color: red;
}

.container{
    text-align: center;
    color: orange;
}
.carousel-text{
    color: black;
}
