.container{
    color: rgb(125, 246, 255)
}
.goals{

    color: rgb(129, 247, 255)
}
.col{
    align-items: right;
}

.container2{
    text-align: center;
}
.nav-link{
    color: yellowgreen;
}
