
.card{
    color: blue
}

.subheading{
    color: green
}
.title{
    color: green
}
.nav{
    text-align: center;
    
}
.container{
    text-align: center;
    
}
.disclaimer{
    color: rgb(0, 221, 255)
}